@model IEnumerable<Domashna.Data.Entities.Genre>
@{
    ViewData["Title"] = "Index";
}



<h1 class="text-center font pt-5">Genre's</h1>
<hr />
<p class="text-center">
    <a class="font" asp-action="Create">Create a New Genre</a>
</p>
<table class="table border-bottom-0">
    <thead>
        <tr>
            <th class="text-center font">@Html.DisplayNameFor(model => model.Name)</th>


            <th class="text-center font">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center font"> @Html.DisplayFor(modelitem => item.Name)</td>


                <td>
                    <a class="table-action-btn btn btn-block btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i>Edit</a>
                    <a class="table-action-btn btn btn-block btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-cirle"></i>Details</a>
                    <a class="table-action-btn btn btn-block btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-alt"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

